@import url("https://fonts.googleapis.com/css?family=Nunito:400,700")
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css")
@import "@/assets/styles/_variables.sass"
@import "@/assets/styles/utilities.sass"
@import "../../../node_modules/bulma/bulma.sass"

body
  min-height: 100vh
  color: $primary
  background: $body-background-color
  transition: color 0.5s, background-color 0.5s
  line-height: 1.6
  font-family: 'Nunito', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  font-size: 15px
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

header
  font-size: 2em

hr
  background-color: $secondary
  height: 1px
  border: 0px
  margin: 5px 0px

.icon.is-extra-large
    color: $secondary
    font-size: 5em

.clickable
  cursor: pointer
  pointer-events: all !important

.done
  text-decoration: line-through

// menu
.menu.box
  padding-top: 5px
  padding-bottom: 5px
  margin-top: 0.5em
  margin-bottom: 0.5em

.modal-content
  position: fixed
  bottom: 0%
  max-width: 800px

.modal-content .container
  background-color: $dark-olive
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.modal-content .muted
  color: $light-olive